:root
{
    --primary: #8A0FB6;
}

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Ubuntu;
    scroll-behavior: smooth;
}

.loading
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    z-index: 2;
}

.loading span
{
    width: 100px;
    aspect-ratio: 1/1;
    background-color: none;
    border: 10px solid rgb(0, 174, 255);
    /* border-top: 10px solid rgb(8, 7, 7); */
    border-radius: 50%;
    animation: load 1s linear 1s infinite alternate-reverse;
}

.loading i
{
    width: 100px;
    aspect-ratio: 1/1;
    margin: 5px;
    border: 10px solid var(--primary);
    /* border-top: 10px solid rgb(8, 7, 7); */
    border-radius: 50%;
    position: absolute;
    animation: load 1s linear infinite alternate-reverse;
}

@keyframes load 
{
    0%
    {
        transform: scale(0);
    }
    100%
    {
        transform: scale(1);
    }
    
}



.container
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.navbar
{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    box-shadow: 0 0 10px rgb(121, 121, 121);
    display: flex;
    flex-direction: row;
}

/* code for the logo is started from here  */
.logo-menu-toggle
{
    width: 10%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo
{
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo a
{
    width: auto;
    height: 100%
}

.logo a img
{
    width: auto;
    height: 100%;
}

.toggle-box
{
    display: none;
}

.menu-profile-box
{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-box
{
    width: 70%;
    height: 100%;
    /* border: 2px solid rgb(26, 151, 189); */
    display: flex;
    flex-direction: row;
    justify-content: row;
    align-items: center;
    /* border: 2px solid rgb(26, 151, 189); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-bar
{
    width: auto;
    height: 80%;
    /* border: 2px solid black; */
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(122, 121, 121, 0.849);
}

.menu-bar a 
{
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* margin: 5px; */
    color: var(--primary);
    font-size: 18px;
    /* font-family: monospace; */
}

.menu-bar a:hover
{
    transition-duration: 0.5s;
    color: #fff;
    background-color: var(--primary);
    font-size: 19px;
}

/* code for profile is started from here  */
.profile-box
{
    width: 20%;
    height: 100%;
    /* border: 2px solid rgb(86, 14, 168); */
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-logout-box
{
    width: 80px;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.login-btn
{
    width: 100%;
    min-width: 80px;
    height: 100%;
    font-family: monospace;
    background-color: var(--primary);
    color: #fff;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    /* display: none; */
}

.login-btn:hover        
{
    background-color: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.logout-btn
{
    width: 100%;
    min-width: 80px;
    height: 100%;
    font-family: monospace;
    background-color: #fff;
    color: var(--primary);
    font-size: 18px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.logout-btn:hover
{
    background-color: var(--primary);
    color: #fff;
    border: 1px solid transparent;
}

.profile-box img
{
    width: auto;
    height: 100%;
}

/* code for welcome screen  */

.welcome-box
{
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
    background-color: #632C98;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D9DBDD'/%3E%3Cstop offset='1' stop-color='%23632C98'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%238A0FB6' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%238A0FB6' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.41'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.welcome-page
{
    width: 70%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-page h2
{
    text-transform: capitalize;
    font-family: monospace;
    font-size: 1.5rem;
    text-align: center;
}

.welcome-page p 
{
    font-family: monospace;
    font-size: 1.1rem;
    padding-top: 10px;
    text-align: center;
}

.welcome-page button
{
    transition-duration: 0.5s;
    width: auto;
    height: 40px;
    margin-top: 20px;
    font-family: monospace;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--primary);
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.welcome-page button:hover
{
    background-color: var(--primary);
    color: #fff;
}

.welcome-page button a
{
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    color: var(--primary);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-page button a:hover
{
    color: #fff;
}


/* code for services container  */

.services-container
{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
}

.services-heading
{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid green; */
}

.services-heading h1
{
    color: var(--primary);
    font-family: monospace;
    font-weight: bolder;
    border-bottom: 2px solid var(--primary);
}

.services-cards-container
{
    width: 90%;
    height: auto;
    margin: 0px auto;
    padding: 10px 40px;
    /* border: 2px solid rgb(1, 109, 197); */
    display: flex;
    flex-direction: column;
}

.back-btn-container
{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid red; */
}

.back-btn-container button
{
    width: auto;
    height: 80%;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

.back-btn-container button:hover
{
    background-color: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    font-weight: bold;
}

.services-main-cards-container
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;

}

.data-loader
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.data-loader i
{
    width: 50px;
    aspect-ratio: 1/1;
    background-color: none;
    border: 10px solid rgb(0, 174, 255);
    border-top: 10px solid rgb(8, 7, 7);
    border-radius: 50%;
    animation: dataLoading 1s linear infinite;
}

@keyframes dataLoading 
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.card
{
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    height: fit-content;
    /* border: 2px solid black; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    margin: 20px 20px;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px 0px rgb(141, 141, 141);
    transition-duration: 0.2s;
}

.card:hover
{
    box-shadow: 0 10px 40px 1px rgb(134, 134, 134);
}

.card-image
{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.card-image img
{
    width: 100%;
    height: auto;
}

.card-title
{
    width: 100%;
    height: auto;
    padding: 0px 5px;
    /* border: 1px solid red; */
}

.card-title h3
{
    font-family: Ubuntu;
}

.card-desc
{
    width: 100%;
    height: auto;
    padding: 5px 5px;
    /* border: 1px solid red; */
}

.card-desc p
{
    font-family: Ubuntu;
    text-align: justify;
}

.card-btn
{
    width: 100%;
    height: auto;
    padding: 5px 5px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-btn button
{
    width: 150px;
    height: 30px;
    background-color: var(--primary);
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
    transition-duration: 0.5s;
    margin-bottom: 5px;
}

.card-btn button:hover
{
    background-color: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    transition-duration: 0.5s;
}


/* css code for footer part  */

.footer-container
{
    width: 100%;
    height: 50px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #39224b;
}

.footer-box
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-text
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    color: #fff;
}

.social-media-box
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.social-media-icon-box
{
    width:40px;
    height: 40px;
    /* border: 2px solid red; */
    border-radius: 50%;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(145, 145, 145);
}

/* .social-media-icon-box::before
{
    content: "";
    height: 45px;
    width: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
} */

.social-media-icon-box a i
{
    width: 100%;
    height: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgb(179, 178, 178) inset;
}

.social-media-icon-box a
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-media-icon-box a .icon-insta
{
    color: #C833B3;
}
.social-media-icon-box a .icon-face
{
    color: #2e5cbf;
}
.social-media-icon-box a .icon-twit
{
    color: #1da1f2;
}

.social-media-icon-box a .icon-insta:hover
{
    background-color: #C833B3;
    color: #fff;
    box-shadow: 0 0 5px rgb(179, 178, 178) inset;
}
.social-media-icon-box a .icon-face:hover
{
    background-color: #2e5cbf;
    color: #fff;
    box-shadow: 0 0 5px rgb(179, 178, 178) inset;
}
.social-media-icon-box a .icon-twit:hover
{
    background-color: #1da1f2;
    color: #fff;
    box-shadow: 0 0 5px rgb(179, 178, 178) inset;
}

/* css code for dialog modal  */
    
.dialog-box-container
{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 1;
}

.dialog-box-heading-form
{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /* border: 2px solid green; */
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgb(0, 26, 255),
                -5px -5px 20px rgb(174, 0, 255);
}

.dialog-box-title-bar
{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(92, 42, 133, 0.801);
    box-shadow: 0px 5px 10px rgb(0, 26, 255);
}

.dialog-title-box
{
    width: 50%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dialog-title-box h3
{
    color: var(--primary);
}

.hide-btn-box
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 10px;
    align-items: center;
    /* border: 1px solid #fff; */
}

.hide-btn-box button
{
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: 1px solid var(--primary);
    border-radius: 50%;
    background-color: var(--primary);
    color: #fff;
}

.hide-btn-box button:hover
{
    border: 1px solid var(--primary);
    border-radius: 50%;
    background-color: #fff;
    color: var(--primary);
}

.hide-btn-box button i
{
    font-size: 30px;
} 

.dialog-form-box
{
    width: 100%;
    height: calc(100vh-50px);
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    overflow-y: auto;
}

.dialog-form
{
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.input-group
{
    width: 100%;
    height: 50px;
    min-height: 50px;
    /* border: 1px solid rgb(5, 172, 184); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.name, .fname, .dob, .regNo, .course, .branch, .profile, .address, .submit-btn, .reset-btn, .mobile, .email
{
    width: 40%;
    height: 80%;
    border: 1px solid var(--primary);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} 

.name input, .fname input, .dob input, .regNo input, .course select, .branch select, .profile input, .address input, .submit-btn input, .reset-btn input, .mobile input, .email input
{
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    outline: none;
    color: var(--primary);
    font-size: 16px;
}

.profile input[type='file']
{
    line-height: 37px;
}

.profile input[type=file]::-webkit-file-upload-button
{
    width: auto;
    height: 80%;
    border: 1px solid var(--primary);
    background-color: #fff;
    border-radius: 5px;
    color: var(--primary);
    cursor: pointer;
    font-family: Ubuntu;

}

.profile input[type=file]::-webkit-file-upload-button:hover
{
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: Ubuntu;
}

.submit-btn input[type='button']
{
    background-color: var(--primary);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
}

.reset-btn input[type='reset']
{
    background-color: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    cursor: pointer;
    font-size: large;
}

.name input::placeholder, .fname input::placeholder, .regNo input::placeholder, .address input::placeholder, .mobile input::placeholder, .email input::placeholder
{
    color: var(--primary);
    opacity: 0.5;
}

.submit-btn input[type='button']:hover
{
    background-color: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    cursor: pointer;
    font-size: large;
}

.reset-btn input[type='reset']:hover
{
    background-color: var(--primary);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
}
